vendor(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    -ms-{prop} args
    {prop} args

animation-duration(n)
    vendor('animation-duration', n)

animation-name(n)
    vendor('animation-name', n)


backface-visibility(n)
    vendor('backface-visibility', n)

border-radius(n)
    vendor('border-radius', n)

box-shadow(n)
    vendor('box-shadow', n)

perspective(n)
    vendor('perspective',n)

transform(n)
    vendor('transform', n);

transform-origin(n)
    vendor('transform-origin',n);
    
transition-duration(n)
    vendor('transition-duration', n)

transition-property(n)
    vendor('transition-property', n)

transition-timing-function(n)
    vendor('transition-timing-function', n)